In [1]:
import duckdb as db
import pandas as pd

In [2]:
orders_df = pd.read_csv('./order_items.csv')
user_df = pd.read_csv('./users.csv')

In [3]:
user_df.head()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,40112,Robert,Martin,robertmartin@example.com,41,M,Mie,8560 Paul Station Apt. 589,513-0836,Suzuka City,Japan,34.851814,136.508713,Search,2019-03-01 01:22:00 UTC
1,4646,Stephen,Dudley,stephendudley@example.net,60,M,Acre,6531 Dixon Trace,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-02-14 18:56:00 UTC
2,5801,David,Smith,davidsmith@example.com,38,M,Acre,403 Chris Island,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-08-13 00:55:22.961196 UTC
3,22001,Timothy,Anderson,timothyanderson@example.org,14,M,Acre,494 Anna Unions Suite 031,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-12-03 11:15:00 UTC
4,39207,Erik,Johnson,erikjohnson@example.net,21,M,Acre,01619 Jermaine Summit,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2021-08-21 18:41:00 UTC

In [4]:
orders_df.head()

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,16000,10975,8831,13606,43216,Complete,2020-09-14 17:59:04 UTC,2020-09-16 12:05:00 UTC,2020-09-17 21:47:00 UTC,NaN,2.5
1,58903,40591,32637,13606,159361,Complete,2023-07-26 06:59:00 UTC,2023-07-28 07:38:00 UTC,2023-08-01 06:03:00 UTC,NaN,2.5
2,160715,110826,88857,13606,434265,Returned,2023-07-11 05:19:49 UTC,2023-07-12 13:45:00 UTC,2023-07-12 21:41:00 UTC,2023-07-13 21:15:00 UTC,2.5
3,40331,27796,22443,28951,109154,Shipped,2023-06-01 17:44:45 UTC,2023-06-04 17:26:00 UTC,NaN,NaN,3.0
4,83959,57928,46609,28951,227036,Shipped,2023-06-28 05:57:34 UTC,2023-06-29 16:56:00 UTC,NaN,NaN,3.0

In [5]:
db.sql('SELECT * FROM user_df')

┌───────┬────────────┬───────────┬───┬──────────────┬──────────────┬────────────────┬──────────────────────┐
│  id   │ first_name │ last_name │ … │   latitude   │  longitude   │ traffic_source │      created_at      │
│ int64 │  varchar   │  varchar  │   │    double    │    double    │    varchar     │       varchar        │
├───────┼────────────┼───────────┼───┼──────────────┼──────────────┼────────────────┼──────────────────────┤
│ 40112 │ Robert     │ Martin    │ … │  34.85181443 │  136.5087133 │ Search         │ 2019-03-01 01:22:0…  │
│  4646 │ Stephen    │ Dudley    │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2023-02-14 18:56:0…  │
│  5801 │ David      │ Smith     │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2023-08-13 00:55:2…  │
│ 22001 │ Timothy    │ Anderson  │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2022-12-03 11:15:0…  │
│ 39207 │ Erik       │ Johnson   │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2021-08-21 18:41:0…  │
│ 42481 │ Shelby     │ Lane      │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2021-06-11 03:59:0…  │
│ 63144 │ Jared      │ Taylor    │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2019-03-30 07:01:0…  │
│ 66272 │ Melanie    │ Graham    │ … │ -9.945567619 │ -67.83560991 │ Facebook       │ 2021-12-11 09:16:0…  │
│ 88228 │ Robert     │ Bonilla   │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2020-03-27 09:53:0…  │
│ 89168 │ Alexis     │ Gonzales  │ … │ -9.945567619 │ -67.83560991 │ Search         │ 2023-07-12 01:37:0…  │
│   ·   │   ·        │   ·       │ · │       ·      │       ·      │   ·            │          ·           │
│   ·   │   ·        │   ·       │ · │       ·      │       ·      │   ·            │          ·           │
│   ·   │   ·        │   ·       │ · │       ·      │       ·      │   ·            │          ·           │
│ 92154 │ Courtney   │ White     │ … │  43.85274812 │  125.3429264 │ Organic        │ 2019-08-31 09:16:0…  │
│ 96909 │ Michael    │ Browning  │ … │  43.85274812 │  125.3429264 │ Search         │ 2021-12-15 08:09:0…  │
│  2337 │ Scott      │ Murray    │ … │  43.88109631 │  125.3893404 │ Search         │ 2022-11-29 15:38:0…  │
│  4806 │ Amy        │ Nunez     │ … │  43.88109631 │  125.3893404 │ Search         │ 2021-08-24 12:33:0…  │
│ 15734 │ Jeffery    │ Rodriguez │ … │  43.88109631 │  125.3893404 │ Search         │ 2021-07-13 18:11:0…  │
│ 19627 │ Tiffany    │ Wagner    │ … │  43.88109631 │  125.3893404 │ Email          │ 2022-08-06 06:40:0…  │
│ 20209 │ Cheyenne   │ Humphrey  │ … │  43.88109631 │  125.3893404 │ Search         │ 2019-04-07 00:17:0…  │
│ 36880 │ Shannon    │ Anthony   │ … │  43.88109631 │  125.3893404 │ Search         │ 2022-03-20 03:37:0…  │
│ 40696 │ Robin      │ Perry     │ … │  43.88109631 │  125.3893404 │ Search         │ 2023-01-07 09:31:0…  │
│ 41870 │ Nicholas   │ Moreno    │ … │  43.88109631 │  125.3893404 │ Search         │ 2021-12-12 04:27:0…  │
├───────┴────────────┴───────────┴───┴──────────────┴──────────────┴────────────────┴──────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                       15 columns (7 shown) │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [6]:
db.sql('SELECT * FROM user_df').df()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,40112,Robert,Martin,robertmartin@example.com,41,M,Mie,8560 Paul Station Apt. 589,513-0836,Suzuka City,Japan,34.851814,136.508713,Search,2019-03-01 01:22:00 UTC
1,4646,Stephen,Dudley,stephendudley@example.net,60,M,Acre,6531 Dixon Trace,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-02-14 18:56:00 UTC
2,5801,David,Smith,davidsmith@example.com,38,M,Acre,403 Chris Island,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-08-13 00:55:22.961196 UTC
3,22001,Timothy,Anderson,timothyanderson@example.org,14,M,Acre,494 Anna Unions Suite 031,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-12-03 11:15:00 UTC
4,39207,Erik,Johnson,erikjohnson@example.net,21,M,Acre,01619 Jermaine Summit,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2021-08-21 18:41:00 UTC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,56240,Jill,Williams,jillwilliams@example.com,42,F,Jeju Special Self-Governing Province,59475 Gordon Lane,699-920,Seogwipo City,South Korea,33.280208,126.346231,Organic,2020-03-09 16:54:00 UTC
99996,25529,Gary,Bush,garybush@example.net,70,M,Jeju Special Self-Governing Province,786 Jason Cliff,699-930,Seogwipo City,South Korea,33.220465,126.237860,Facebook,2022-08-25 05:13:00 UTC
99997,34753,Christine,Villa,christinevilla@example.org,37,F,Jeju Special Self-Governing Province,2904 Joseph Center,699-930,Seogwipo City,South Korea,33.220465,126.237860,Search,2021-05-20 17:21:00 UTC
99998,41849,Jennifer,Perez,jenniferperez@example.org,70,F,Jeju Special Self-Governing Province,499 Jack Knolls,699-930,Seogwipo City,South Korea,33.220465,126.237860,Search,2019-12-23 04:58:00 UTC
99999,67772,Justin,Ramirez,justinramirez@example.net,30,M,Jeju Special Self-Governing Province,78251 Emily Freeway,699-940,Seogwipo City,South Korea,33.305744,126.675429,Search,2021-02-24 05:48:00 UTC

In [9]:
def query(sql_query):
    return db.sql(sql_query).df()

In [10]:
male_users = query("SELECT * FROM user_df WHERE gender = 'M'")
male_users.head()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,40112,Robert,Martin,robertmartin@example.com,41,M,Mie,8560 Paul Station Apt. 589,513-0836,Suzuka City,Japan,34.851814,136.508713,Search,2019-03-01 01:22:00 UTC
1,4646,Stephen,Dudley,stephendudley@example.net,60,M,Acre,6531 Dixon Trace,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-02-14 18:56:00 UTC
2,5801,David,Smith,davidsmith@example.com,38,M,Acre,403 Chris Island,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-08-13 00:55:22.961196 UTC
3,22001,Timothy,Anderson,timothyanderson@example.org,14,M,Acre,494 Anna Unions Suite 031,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-12-03 11:15:00 UTC
4,39207,Erik,Johnson,erikjohnson@example.net,21,M,Acre,01619 Jermaine Summit,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2021-08-21 18:41:00 UTC

In [11]:
user_gender = query("SELECT gender, COUNT(id) as total FROM user_df GROUP by gender")
user_gender

  gender  total
0      M  49856
1      F  50144

In [12]:
total_female = query(
    """ 
        SELECT gender,
        COUNT(id) as total FROM user_df
        GROUP by gender HAVING gender = 'F'
    """
)
total_female

  gender  total
0      F  50144

In [13]:
orders_df.head()

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,16000,10975,8831,13606,43216,Complete,2020-09-14 17:59:04 UTC,2020-09-16 12:05:00 UTC,2020-09-17 21:47:00 UTC,NaN,2.5
1,58903,40591,32637,13606,159361,Complete,2023-07-26 06:59:00 UTC,2023-07-28 07:38:00 UTC,2023-08-01 06:03:00 UTC,NaN,2.5
2,160715,110826,88857,13606,434265,Returned,2023-07-11 05:19:49 UTC,2023-07-12 13:45:00 UTC,2023-07-12 21:41:00 UTC,2023-07-13 21:15:00 UTC,2.5
3,40331,27796,22443,28951,109154,Shipped,2023-06-01 17:44:45 UTC,2023-06-04 17:26:00 UTC,NaN,NaN,3.0
4,83959,57928,46609,28951,227036,Shipped,2023-06-28 05:57:34 UTC,2023-06-29 16:56:00 UTC,NaN,NaN,3.0

In [14]:
user_orders_df = query(
    """
        SELECT * FROM orders_df
        JOIN user_df ON orders_df.user_id = user_df.id 
    """
)
user_orders_df[['id','order_id','user_id','status']].head()

      id  order_id  user_id    status
0  14858     10174     8188  Complete
1  15162     10390     8346  Complete
2  15641     10730     8630  Complete
3  16895     11601     9339  Complete
4  21356     14679    11804  Complete

In [15]:
user_orders_df = query(
    """
        SELECT * FROM orders_df
        FULL JOIN user_df ON orders_df.user_id = user_df.id
    """
)
user_orders_df[user_orders_df['user_id'].isna() | user_orders_df['id'].isna()].head()

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,...,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at_2
180976,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,...,M,Acre,189 Spencer Drive,69970-000,Tarauacá,Brasil,-8.325245,-71.553030,Search,2019-11-25 17:36:00 UTC
180977,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,...,F,Gifu,6946 Sylvia Trail Apt. 378,509-0206,Visa city,Japan,35.424763,137.015274,Search,2019-04-06 14:04:00 UTC
180978,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,...,M,Iowa,0426 Taylor Lane Suite 306,50315,Des Moines,United States,41.544232,-93.620228,Search,2023-01-05 17:28:00 UTC
180979,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,...,F,Iowa,20888 Martin Courts,50613,Cedar Falls,United States,42.530587,-92.493777,Search,2021-07-23 16:25:00 UTC
180980,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,...,M,Iowa,087 Berry Circles Suite 458,50613,Cedar Falls,United States,42.530587,-92.493777,Search,2021-05-31 02:51:00 UTC

In [16]:
orders_df.head()

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,16000,10975,8831,13606,43216,Complete,2020-09-14 17:59:04 UTC,2020-09-16 12:05:00 UTC,2020-09-17 21:47:00 UTC,NaN,2.5
1,58903,40591,32637,13606,159361,Complete,2023-07-26 06:59:00 UTC,2023-07-28 07:38:00 UTC,2023-08-01 06:03:00 UTC,NaN,2.5
2,160715,110826,88857,13606,434265,Returned,2023-07-11 05:19:49 UTC,2023-07-12 13:45:00 UTC,2023-07-12 21:41:00 UTC,2023-07-13 21:15:00 UTC,2.5
3,40331,27796,22443,28951,109154,Shipped,2023-06-01 17:44:45 UTC,2023-06-04 17:26:00 UTC,NaN,NaN,3.0
4,83959,57928,46609,28951,227036,Shipped,2023-06-28 05:57:34 UTC,2023-06-29 16:56:00 UTC,NaN,NaN,3.0

## How much top 10 ordered products shares in the earliest year?

In [17]:
top_10_2019 = query(
    """
    SELECT product_id,
    COUNT(product_id) as total_product
    FROM
        (SELECT product_id, created_at[:4]::INT FROM orders_df
        WHERE created_at[:4]::INT = 2019)
    GROUP BY product_id
    ORDER BY 2 DESC, 1 DESC
    LIMIT 10
    """
)
top_10_2019

   product_id  total_product
0       24032              4
1       28031              3
2       27346              3
3       24036              3
4       23043              3
5       21378              3
6       20804              3
7       19339              3
8       18587              3
9        7052              3

In [18]:
top_10_2020 = query(
    """
    SELECT product_id,
    COUNT(product_id) as total_product
    FROM
        (SELECT product_id, created_at[:4]::INT FROM orders_df
        WHERE created_at[:4]::INT = 2020)
    GROUP BY product_id
    ORDER BY 2 DESC, 1 DESC
    LIMIT 10
    """
)
top_10_2020

   product_id  total_product
0       25142              6
1        6894              6
2       23981              5
3       23930              5
4       16811              5
5       16064              5
6       11009              5
7        7650              5
8       27975              4
9       27839              4

In [19]:
from plotly.subplots import make_subplots
import plotly.graph_objects as go

fig = make_subplots(rows=1, cols=2, specs=[[{'type':'domain'}, {'type':'domain'}]])

fig.add_trace(go.Pie(labels = top_10_2019['product_id'], values= top_10_2019['total_product'], name = 2019),
              row=1, col=1)

fig.add_trace(go.Pie(labels = top_10_2020['product_id'], values= top_10_2020['total_product'], name = 2020),
              row=1, col=2)

fig.update_traces(hole = .4, hoverinfo = "label+percent+name")

fig.update_layout(title = "Ordered Product Shares",
                  annotations = [
                    dict(text='2019', x=0.18, y=0.5, font_size=20, showarrow=False),
                    dict(text='2020', x=0.82, y=0.5, font_size=20, showarrow=False)
                  ])

fig.show()

In [20]:
orders_df.head()

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
0,16000,10975,8831,13606,43216,Complete,2020-09-14 17:59:04 UTC,2020-09-16 12:05:00 UTC,2020-09-17 21:47:00 UTC,NaN,2.5
1,58903,40591,32637,13606,159361,Complete,2023-07-26 06:59:00 UTC,2023-07-28 07:38:00 UTC,2023-08-01 06:03:00 UTC,NaN,2.5
2,160715,110826,88857,13606,434265,Returned,2023-07-11 05:19:49 UTC,2023-07-12 13:45:00 UTC,2023-07-12 21:41:00 UTC,2023-07-13 21:15:00 UTC,2.5
3,40331,27796,22443,28951,109154,Shipped,2023-06-01 17:44:45 UTC,2023-06-04 17:26:00 UTC,NaN,NaN,3.0
4,83959,57928,46609,28951,227036,Shipped,2023-06-28 05:57:34 UTC,2023-06-29 16:56:00 UTC,NaN,NaN,3.0

In [21]:
user_df.head()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,40112,Robert,Martin,robertmartin@example.com,41,M,Mie,8560 Paul Station Apt. 589,513-0836,Suzuka City,Japan,34.851814,136.508713,Search,2019-03-01 01:22:00 UTC
1,4646,Stephen,Dudley,stephendudley@example.net,60,M,Acre,6531 Dixon Trace,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-02-14 18:56:00 UTC
2,5801,David,Smith,davidsmith@example.com,38,M,Acre,403 Chris Island,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-08-13 00:55:22.961196 UTC
3,22001,Timothy,Anderson,timothyanderson@example.org,14,M,Acre,494 Anna Unions Suite 031,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-12-03 11:15:00 UTC
4,39207,Erik,Johnson,erikjohnson@example.net,21,M,Acre,01619 Jermaine Summit,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2021-08-21 18:41:00 UTC

# How much the ratio of male and female in 2020’s orders history?

In [22]:
gender_rasio = query(
    """
    SELECT
        year,
        gender,
        COUNT(DISTINCT id) as total_user 
    FROM
        (SELECT UD.id, UD.gender, OD.created_at[:4]::INT as year
        FROM orders_df OD JOIN user_df UD ON OD.user_id = UD.id)
    GROUP BY 1,2
    HAVING year = 2020
    ORDER BY 2 ASC
    LIMIT 10
    """
)
gender_rasio.head()

   year gender  total_user
0  2020      F        4591
1  2020      M        4533

# How much the ratio of orders created by male and female in 2020’s?

In [23]:
gender_rasio = query(
    """
    SELECT
        year,
        gender,
        COUNT(id) as total_orders 
    FROM
        (SELECT OD.id, UD.gender, OD.created_at[:4]::INT as year
        FROM orders_df OD JOIN user_df UD ON OD.user_id = UD.id)
    GROUP BY 1,2
    HAVING year = 2020
    ORDER BY 2 ASC
    LIMIT 10
    """
)
gender_rasio.head()

   year gender  total_orders
0  2020      F          7470
1  2020      M          7439

# How much the ratio of number of products ordered by male and female in 2020?

In [27]:
product_rasio = query(
    """
    SELECT
        year,
        gender,
        COUNT(DISTINCT product_id) as total_unique_product
    FROM
        (SELECT OD.product_id, UD.gender, OD.created_at[:4]::INT as year
        FROM orders_df OD JOIN user_df UD ON OD.product_id = UD.id)
    GROUP BY 1,2
    HAVING year = 2020
    ORDER BY 2
    LIMIT 10
    """
)
product_rasio

   year gender  total_unique_product
0  2020      F                  5837
1  2020      M                  5882